* {
    margin: 0;
    padding: 0;
}
html {
    height:100%;
}

body
{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: arial, verdana;
    font-size: 13px;
    color: #ffffff;
    background-color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main
{
    width: 100%;
    height:100%;
    display: block;
}

#canvasContainer
{
    width: 100%;
    height: 300px;
    padding: 5px 0px 5px 0px;
    float: left;
    display: block;
}

#controls
{
    width: 100%;
    height: 40px;
    background-color: #111111;
    float: left;

    border-top-style: solid;
    border-width: 1px;
    border-color: #191919;

    display: block;
}

#options
{
    width: 100%;
    height: 60px;
    background-color: #161616;
    float: left;
    font-family: arial, verdana;
    font-size: 12px;
    color: #c6c6c6;

    border-top-style: solid;
    border-width: 1px;
    border-color: #292929;

    outline: 1px solid #070707;

    display: block;
}

#slate
{
    background-color: #000000;
}

.controlsHolder
{
    padding-top: 10px;
    width: 705px;
    height: 35px;
    /*background-color: green;*/
    overflow: hidden;

    margin: auto;
}

.optionsHolder
{
    padding-top: 5px;
    width: 730px;
    height: 55px;
    /*background-color: green;*/
    overflow: hidden;

    margin: auto;
}
.optionsBlock
{
    padding: 0px 10px 0px 0px;
    /*height: 60px;*/
    /*background-color: red;*/
    float: left;
}

#displayDateRangeContainer
{
    float: left;
    display: none;
}

.optionsBlock_Right
{
    padding: 0px 10px 0px 10px;
    /*background-color: red;*/
    float: right;
}

.optionsLabel
{
    /*background-color: red;*/
    padding-bottom: 3px;
    cursor: default;

}

.optionsContent
{

}

.optionsGap
{
    width: 5px;
    height: 60px;
    display: block;
    float: left;
}

#blocker
{
    width: 100%;
    height: 100%;
    z-index: 9990;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.69);
    display: none;

}

#progressBarContainer,
#statusMessage
{
    padding: 20px;
    z-index: 9991;
    position: absolute;


    font-family: Arial;

    background-color: rgba(255, 255, 255, 0.11);

    border-top: 1px solid rgba(255,255,255,0.34);
    border-right: 1px solid rgba(0,0,0,0.04);
    border-bottom: 1px solid rgba(0,0,0,0.43);
    border-left: 1px solid rgba(0,0,0,0.04);

    box-shadow: 0 1px 1px rgba(0,0,0,0.25);

    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

    display: none;
}

#displayBoxContainer
{
    float: left;
}
#displayNValueContainer
{
    display: none;
    padding-left: 10px;
    float: left;
}


#numValue
{
    width: 50px;
    height: 18px;
}

#displayTo,
#displayFrom
{
    width: 90px;
    height: 18px;
    font-size: 12px;
    /*cursor: pointer;*/
}

#timeLine
{
    width: 595px;
    height: 7px;
}

#fullscreenButton
{
    cursor: pointer;
    background-color: #1e1919;
    background: linear-gradient(to bottom, rgb(43, 46, 51) 0%, rgb(25, 25, 25) 100%); /* W3C */
    width: 20px;
    height: 20px;
    display: block;
    border: 1px #000000 solid;
    box-shadow: inset 0px 0px 4px 0px #000;

    border-radius: 3px;
}

.fullScreenButtonImage
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZEigyDa26AAAAAFVJREFUOMvFkksKwEAMQlXm/le2my5KKKQZKZN9nvgBTh9tOyIkANteu0IkCQD67PV+qKdRYC8QjVMvEO2E+YQobURprUq3sbqa/p9yt75OgFP/1eoFWeUwBuDIgk4AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    width: 20px;
    height: 20px;
    display: block;
}

#playButton
{
    cursor: pointer;
    background-color: #1e1919;
    background: linear-gradient(to bottom, rgb(43, 46, 51) 0%, rgb(25, 25, 25) 100%); /* W3C */
    width: 20px;
    height: 20px;
    display: block;
    border: 1px #000000 solid;
    box-shadow: inset 0px 0px 4px 0px #000;

    border-radius: 3px;
}

.playButtonImage
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZFC0WSFTWJgAAAHJJREFUOMvdk0EKw0AMA+X0FQ15Q6Dk/x/KvUmxYSfXPWxK44UcqqtlIQtZ+l8AuPuzR6AAGzD3CAC8gfGMZ98E6rmZNbnDhUhw9zFzQo017UCSImJJZyDpYWYl4+AjaWot/5LBDrzSTYyIqaeJwy0/cwByl2VXv3k3ewAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    width: 20px;
    height: 20px;
    display: block;
}

#playButton:hover,
#pauseButton:hover,
#fullscreenButton:hover
{
    background: linear-gradient(to bottom, rgb(64, 68, 73) 0%, rgb(25, 25, 25) 100%); /* W3C */
    box-shadow: inset 0px 0px 4px 0px #000;
    border: 1px #000000 solid;
}

#playButton:active,
#pauseButton:active,
#fullscreenButton:active
{
    /*background: linear-gradient(to bottom, rgb(16, 17, 20) 0%, rgb(25, 25, 25) 100%); /* W3C */
    /*box-shadow: inset 0px 0px 1px 1px #232323;*/

    background: #1e1919;
    box-shadow: inset 0px 0px 4px 0px #000;
    border: 1px #000000 solid;
}

#pauseButton
{
    cursor: pointer;
    background-color: #1e1919;
    background: linear-gradient(to bottom, rgb(43, 46, 51) 0%, rgb(25, 25, 25) 100%); /* W3C */
    width: 20px;
    height: 20px;
    display: block;
    border: 1px #000000 solid;
    box-shadow: inset 0px 0px 4px 0px #000;

    border-radius: 3px;
}

.pauseButtonImage
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUZFCcxF7GLxwAAACZJREFUOMtjYBjygBFd4P/////hkoyMjLjEYICJUheMGjBqwDABALEECBQrSrlcAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    width: 20px;
    height: 20px;
    display: block;
}



